<table>
<tr>
  <td>Serving Size:</td><td>{{serving_size}}</td>
</tr>
<tr> 
  <td>Energy(cals):</td><td>{{energy}}</td>
</tr>
<tr> 
  <td>Protein(g):</td><td>{{protein}}</td>
</tr>
<tr> 
  <td>Total Fat(g):</td><td>{{fat_total}}</td>
</tr>
<tr> 
  <td>Total Saturated Fat(g):</td><td> {{sat_fat}}</td>
</tr>
<tr> 
  <td>Total Carbs(g):</td><td>{{carbs}}</td>
</tr>
<tr> 
  <td>Total Sugar(g):</td><td>{{sugars}}</td>
</tr>
<tr> 
  <td>Total Dietary Fiber(g):</td><td>{{dietary_fiber}}</td>
</tr>
<tr> 
  <td>Sodium(mg):</td><td>{{sodium}}</td>
</tr>
</table>